<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一键入库</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../layer/theme/default/layer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/stock.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../layui/layui.js"></script>
    <script src="../layer/layer.js"></script>
    <style>
    .layui-table-cell{
      height:3.24rem;
      line-height:3.24rem;
    }
    .layui-table-cell span{
        font-size:1.4rem;
        font-weight:700;
    }
    #layui-table-page1 .layui-laypage-limits{
        display: none;
    }
    .layui-btn{
        height:2.8rem;
        line-height:2.8rem;
        font-size:1.2rem;
        padding:0 0.9rem;
    }
    #layui-table-page1 .layui-laypage-curr{
        padding:0 20px;
    }
    </style>
</head>
<body>
<div class="swiper-container" id="Vueapp">
          <div class="elaBoxs">
            <div class="fuzuheight" style="height:1rem;"></div>
            <div class="elaMenu">
              <div class="elaMenuInner">
                  <div class="elaMenuList" style="border-top:1px solid #dddddd;background:#dddddd;">
                      <div class="elaLogo" onclick="backIndex();" style="background: #99ccff url(../img/logo2.png) no-repeat;background-size:80% 80%;background-position:center;"></div>
                  </div>
                  <div class="elaMenuList" style="border-top:1px solid #dddddd;">
                      <div class="elaLogo">一键入库</div>
                  </div>
                  <div class="elaMenuList" style="border-top:1px solid #dddddd;background:#dddddd;">
                      <div class="elaLogo">
                            <div class="userInfoList" onclick="back()">
                                <div class="userInfoInner"><img class="loginimg" src="../img/bcak.png" alt="头像"></div>
                                <div class="userInfoInner">返回上一步</div>
                            </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="elaOption">
                <div class="tablesBoxs">
                    <div class="layui-fluid">
                      <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">
                          <div class="layui-card">
                            <div class="layui-card-header">订单列表</div>
                            <div class="layui-card-body">
                              <div class="test-table-reload-btn" style="margin-bottom: 10px;">
                                订单ID：
                                <div class="layui-inline">
                                  <input class="layui-input" name="id" id="test-table-demoReload" autocomplete="off">
                                </div>
                                <button class="layui-btn" data-type="reload" style="padding:0 14px;height:2.19rem;line-height:2.19rem;">搜索</button>
                              </div>
                              <script type="text/html" id="buttonTpl">
                                {{#  if(d.order_state_flag == 0){ }}
                                  <font color="#4b8a12">已入库</font>
                                {{#  } else if(d.order_state_flag == 1) { }}
                                  <font color="#326edc">部分入库</font>
                                {{#  } else if(d.order_state_flag == 2){ }}
                                  <font color="red">未入库</font>
                                {{#  } }}
                              </script>
                              <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>
                              <script type="text/html" id="test-table-operate-barDemo">
                                <a class="layui-btn layui-btn-xs" lay-event="edit">一键入库</a>
                                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">退单</a>
                              </script>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
            </div>
        </div>
</div>
<div class="elabvoice" style="display:none;"></div>
</body>
<script src="../js/common.js"></script>
<script src="../js/CSG.js"></script>
<script type="text/javascript" src="../keyboard/kbmodule.js" id="keyboard"></script>
<script src="../js/qwebchannel.js"></script>
<script>
// 监听Python channel返回槽对像，赋值给 window.obj
document.addEventListener("DOMContentLoaded", function(){
    new QWebChannel(qt.webChannelTransport, function(channel){
          window.obj = channel.objects.obj;
    })
})
// html触发函数
function onFactorial(url){
    // 如果对像存在
    if( window.obj ){
        // 调用Python槽方法并传递参数，槽方法返回值以callback回调函数接收
        window.obj.factorial(url, callback);
    }
}
// html触发函数
function onFactorial9(url){
    // 如果对像存在
    if( window.obj ){
        // 调用Python槽方法并传递参数，槽方法返回值以callback回调函数接收
        window.obj.factorial9(url, callback);
    }
}
// Python槽方法返回的数据
function callback(result){}

//
var kb = '',kb2='',page = 1,table='';
var windows = $(window).height();
var fuzuheight = $(".fuzuheight").height();
var elaMenu = $(".elaMenu").height();
var height = windows-(fuzuheight+elaMenu)-185;
layui.use('table', function(){
  table = layui.table;
  //第一个实例
  table.render({
    elem: '#test-table-operate'
    ,height: height
    ,url:url+'apismr/putin/orderlist?userId='+userId
    ,page: {
      layout: [ 'prev', 'page', 'next', 'skip','count'],
      limit:10
    }
    ,cols: [[ //表头
      {field: 'order_id', title: '订单ID', width:120, fixed: 'left', align:'center', style:'font-size:1.2rem'}
      ,{field: 'order_name', title: '订单名称', align:'center', style:'font-size:1.2rem'}
      ,{field: 'order_from_txt', title: '来源', width:150, align:'center', style:'font-size:1.2rem'}
      ,{field: 'actualPriceSum', title: '实际总金额', width:150, align:'center', style:'font-size:1.2rem'}
      ,{field: 'originalPriceSum', title: '市场价总金额', width:150, align:'center', style:'font-size:1.2rem'}
      ,{field: 'product_total_num', title: '订单数量', width:150, align:'center', style:'font-size:1.2rem'}
      ,{field: 'order_time', title: '下单时间', align:'center', style:'font-size:1.2rem'}
      ,{field: 'order_state_flag', title: '状态', width:120, align:'center',toolbar:'#buttonTpl',  style:'font-size:1.2rem'}
      ,{width:250, align:'center', fixed: 'right', toolbar: '#test-table-operate-barDemo'}
    ]]
    ,done: function(res, curr, count){
    	    //得到当前页码
    	    page = curr;
    	    //得到数据总量
    	    // console.log(res);
    	}
  });
  //监听工具条
  table.on('tool(test-table-operate)', function(obj){
        var data = obj.data;
        var pInfo = data;
        if(obj.event === 'del'){
              var html = '<div style="margin:0.5rem;">';
                  html += '<div style="height:2.5rem;line-height:2.5rem;padding:0 1rem;font-size:1.2rem;font-weight:700;margin-bottom:1rem;">';
                  html += '退单，需要扫描管理员身份二维码';
                  html += '</div>';
                  html += '<div class="layui-container" style="width:100%;border-top:1px solid #999999;padding:1rem 0;">';
                  html += '<div class="layui-row" style="margin-bottom:1rem;padding:0 1rem;">';
                  html += '<div class="layuikuang" style="border:2px solid #6fb729;height:5rem;border-radius:0.5rem;overflow:hidden;position:relative;">';
                  html += '<input type="text" id="listen2" placeholder="允许扫描" style="height:5rem;width:100%;text-align:center;font-size:1.2rem;border:none;background:#F0F0F0;color:#666666;"/>';
                  html += '</div>';
                  html += '</div>';
                  html += '<div style="font-size:1.1rem;color:#b5b0b0;padding:0 1rem;">温馨提示：显示绿色边框时允许扫描，显示红色边框时禁止扫描。</div>';
                  html += '</div>';
                  html += '<div id="userNameBoxs3" style="padding:1rem;color:#213fd0;font-size:1.2rem;display:none;">扫描成功－〉操作人：<span id="userName2"></span></div>';
                  html += '<div id="userNameBoxs4" style="padding:1rem;color:red;font-size:1.2rem;display:none;"></div>';
                  html += '</div>';
             var openIndexlist = layer.open({
                type: 1,
                title:false,
                skin: 'layui-layer-rim', //加上边框
                area: ['620px', '300px'], //宽高
                content: html
             });
             $("#listen2").focus(function(){
                  $(".layuikuang").css({"border":"2px solid #6fb729"});
                  $(this).attr({"placeholder":"允许扫描"});
             }).blur(function(){
                  $(".layuikuang").css({"border":"2px solid red"});
                  $(this).attr({"placeholder":"禁止扫描"});
             });
             var csg2 = new CodeScanningGrab({
               el:"#listen2",
               addClick:".layernoneouto",
               addClass:".inputBoxs",
               time:2000,
               success:function(res){
                 var id = res;
                  //验证管理员身份
                  $.ajax({
                      url:url+"apismr/basic/name_bind_qrcode",
                      data:{userId:userId,id:id},
                      success:function(info){
                          var obj = JSON.parse(info);
                          if(obj.code == 0 ){
                              $("#userNameBoxs4").hide();
                              $("#userNameBoxs3").show();
                              $("#userName2").html(obj.data.name);
                              if( obj.data.status=="ok" ){//需要管员权限
                                  if( obj.data.role == 1 ){
                                      $.post(url+'apismr/putin/del_orderid',{userId:userId,orderId:pInfo.order_id},function(res){
                                          layer.close(openIndexlist);
                                          table.reload('test-table-operate', {
                                              page: {
                                                curr: page //重新从第 1 页开始
                                              }
                                          });
                                      });
                                  }else{
                                      $("#userNameBoxs1").hide();
                                      $("#userNameBoxs2").show();
                                      $("#userNameBoxs2").html("你不是管理员，没有权限操作!");
                                  }
                              }else{//普通人员
                                  $("#userNameBoxs1").hide();
                                  $("#userNameBoxs2").show();
                                  $("#userNameBoxs2").html("该用户已经被禁用");
                              }
                          }else{
                              $("#userNameBoxs1").hide();
                              $("#userNameBoxs2").show();
                              $("#userNameBoxs2").html('非管理员授权二维码，无法登录');
                          }
                      },
                      error:function(err){
                          $("#userNameBoxs2").show();
                          $("#userNameBoxs2").html("非管理员授权二维码，无法登录");
                      }
                  });
               },
               endClick:function(res){
                   console.log(res)
               }
             });
        } else if(obj.event === 'edit'){
            kb.kbhide();
            var index = layer.open({
                type: 2
                ,title: '订单ID['+data.order_id+']'
                ,content: 'oneclicklist.html?id='+data.order_id
                ,maxmin: true
                ,area: ['85%', '85%']
                ,btn: ['一键入库', '取消']
                ,yes: function(index, layero){
                    var html = '<div style="margin:0.5rem;">';
                        html += '<div style="height:2.5rem;line-height:2.5rem;padding:0 1rem;font-size:1.2rem;font-weight:700;margin-bottom:1rem;">';
                        html += '一键入库，需要扫描管理员身份二维码';
                        html += '</div>';
                        html += '<div class="layui-container" style="width:100%;border-top:1px solid #999999;padding:1rem 0;">';
                        html += '<div class="layui-row" style="margin-bottom:1rem;padding:0 1rem;">';
                        html += '<div class="layuikuang" style="border:2px solid #6fb729;height:5rem;border-radius:0.5rem;overflow:hidden;position:relative;">';
                        html += '<input type="text" id="listen" placeholder="允许扫描" style="height:5rem;width:100%;text-align:center;font-size:1.2rem;border:none;background:#F0F0F0;color:#666666;"/>';
                        html += '</div>';
                        html += '</div>';
                        html += '<div style="font-size:1.1rem;color:#b5b0b0;padding:0 1rem;">温馨提示：显示绿色边框时允许扫描，显示红色边框时禁止扫描。</div>';
                        html += '</div>';
                        html += '<div id="userNameBoxs1" style="padding:1rem;color:#213fd0;font-size:1.2rem;display:none;">扫描成功－〉操作人：<span id="userName"></span></div>';
                        html += '<div id="userNameBoxs2" style="padding:1rem;color:red;font-size:1.2rem;display:none;"></div>';
                        html += '</div>';
                   var openIndexlist = layer.open({
                      type: 1,
                      title:false,
                      skin: 'layui-layer-rim', //加上边框
                      area: ['620px', '300px'], //宽高
                      content: html
                   });
                   $("#listen").focus(function(){
                        $(".layuikuang").css({"border":"2px solid #6fb729"});
                        $(this).attr({"placeholder":"允许扫描"});
                   }).blur(function(){
                        $(".layuikuang").css({"border":"2px solid red"});
                        $(this).attr({"placeholder":"禁止扫描"});
                   });
                   var csg = new CodeScanningGrab({
                     el:"#listen",
                     addClick:".layernoneouto",
                     addClass:".inputBoxs",
                     time:2000,
                     success:function(res){
                       var id = res;
                        //验证管理员身份
                        $.ajax({
                            url:url+"apismr/basic/name_bind_qrcode",
                            data:{userId:userId,id:id},
                            success:function(info){
                                var obj = JSON.parse(info);
                                if(obj.code == 0 ){
                                    $("#userNameBoxs2").hide();
                                    $("#userNameBoxs1").show();
                                    $("#userName").html(obj.data.name);
                                    if( obj.data.status=="ok" ){//需要管员权限
                                        if( obj.data.role == 1 ){
                                            layer.msg('正在提交...',{shift:-1,time:2000},function(){
                                                $.post(url+'apismr/putin/putin_by_onebutton',{orderId:data.order_id,pickerId:id},function(res){
                                                    table.reload('test-table-operate', {
                                                        page: {
                                                          curr: page //重新从第 1 页开始
                                                        }
                                                    });
                                                    layer.msg('ID['+data.order_id+']入库成功', {icon: 16,shade: 0.01, time:3000}, function(){
                                                          layer.close(index);
                                                          layer.close(openIndexlist);
                                                          window.location.href = './instrument/warehousingrecord.html';
                                                    });
                                                });
                                            });
                                        }else{
                                            $("#userNameBoxs1").hide();
                                            $("#userNameBoxs2").show();
                                            $("#userNameBoxs2").html("你不是管理员，没有权限操作!");
                                        }
                                    }else{//普通人员
                                        $("#userNameBoxs1").hide();
                                        $("#userNameBoxs2").show();
                                        $("#userNameBoxs2").html("该用户已经被禁用");
                                    }
                                }else{
                                    $("#userNameBoxs1").hide();
                                    $("#userNameBoxs2").show();
                                    $("#userNameBoxs2").html('非管理员授权二维码，无法登录');
                                }
                            },
                            error:function(err){
                                $("#userNameBoxs2").show();
                                $("#userNameBoxs2").html("非管理员授权二维码，无法登录");
                            }
                        });
                     },
                     endClick:function(res){
                         console.log(res)
                     }
                   });
                }
                ,end: function(){
                    table.reload('test-table-operate', {
                        page: {
                          curr: page //重新从第 1 页开始
                        }
                    });
                }
            });
        }
  });
});
var $ = layui.$, active = {
      reload: function(){
        kb.kbhide();
        var demoReload = $('#test-table-demoReload');
        //执行重载
        table.reload('test-table-operate', {
          page: {
            curr: 1 //重新从第 1 页开始
          }
          ,where: {
            search: demoReload.val()
          }
        });
      }
};
$('.test-table-reload-btn .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
});
kb = new keyboard({
    el:".layui-input",
    x:1.6,
    keyHeight:"5rem",
    fontSize:'1.8rem',
    bottom:"6rem",
    end:function(res,value){
        // console.log(res, value)
        if( res == 'OK' ){
            // layer.msg('完成提交');
        }else{
            // layer.msg('什么都不做');
        }
    }
});
kb.run();
//监听页面更新
// var objws = new linkSocket({
//     userid:userId,
//     msg:'握手成功',
//     success:function(res){
//         if( res != "握手成功" ){
//             if( res == 'Ok' ){
//                 layer.msg('新用户添加成功', {icon: 16,shade: 0.01}, function(){
//                       layer.close(newIndex);
//                       table.reload('test-table-operate');
//                 });
//             }
//         }
//     }
// });
</script>
</html>
