<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>过期警报</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="./iview/node_modules/view-design/dist/styles/iview.css">
    <link rel="stylesheet" href="./layui/css/layui.css">
    <link rel="stylesheet" href="./layer/theme/default/layer.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/stock.css">
    <link rel="stylesheet" href="./swiper/package/swiper-bundle.min.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./layui/layui.js"></script>
    <script src="./layer/layer.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./swiper/package/swiper-bundle.min.js"></script>
    <script src="./iview/node_modules/view-design/dist/iview.min.js"></script>
    <style>
    .layui-table-cell{
      height:2.7rem;
      line-height:2.7rem;
    }
    .layui-table-cell span{
        font-size:1.4rem;
        font-weight:700;
    }
    </style>
</head>
<body>
<div class="swiper-container" id="Vueapp">
          <div class="elaBoxs">
            <div class="fuzuheight" style="height:1rem;"></div>
            <div class="elaMenu">
              <div class="elaMenuInner">
                  <div class="elaMenuList" style="border-top:1px solid #dddddd;background:#dddddd;">
                      <div class="elaLogo" onclick="backIndex();" style="background: #99ccff url(./img/logo2.png) no-repeat;background-size:98% 80%;background-position:center;"></div>
                  </div>
                  <div class="elaMenuList" style="border-top:1px solid #dddddd;">
                      <div class="elaLogo">过期报警</div>
                  </div>
                  <div class="elaMenuList" style="border-top:1px solid #dddddd;background:#dddddd;">
                      <div class="elaLogo">
                            <div class="userInfoList" onclick="back()">
                                <div class="userInfoInner"><img class="loginimg" src="./img/bcak.png" alt="头像"></div>
                                <div class="userInfoInner">返回上一步</div>
                            </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="elaOption">
                <div class="tablesBoxs">
                    <!-- <table id="tables" lay-filter="tablesList"></table> -->
                    <div class="layui-fluid">
                      <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">
                          <div class="layui-card">
                            <div class="layui-card-header">过期警报</div>
                            <div class="layui-card-body">
                              <div class="test-table-reload-btn" style="margin-bottom: 10px;">
                                产品ID/产品名称：
                                <div class="layui-inline">
                                  <input class="layui-input" name="id" id="test-table-demoReload" autocomplete="off">
                                </div>
                                <button class="layui-btn" data-type="reload">搜索</button>
                              </div>

                              <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>

                              <script type="text/html" id="buttonTpl">
                                {{#  if(d.re_status == 0){ }}
                                  <button class="layui-btn layui-btn-xs">已处理</button>
                                {{#  } else { }}
                                  <button class="layui-btn layui-btn-primary layui-btn-xs">未处理</button>
                                {{#  } }}
                              </script>
                              <script type="text/html" id="test-table-operate-barDemo">
                                <a class="layui-btn layui-btn-primary layui-btn-xs" style="padding:1rem;line-height:0rem;font-size:1.2rem;" lay-event="detail">打印</a>
                              </script>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
            </div>
        </div>
</div>
</body>
<script src="./js/common.js"></script>
<script type="text/javascript" src="./keyboard/kbmodule.js" id="keyboard"></script>
<script src="./js/qwebchannel.js"></script>
<script>
// 监听Python channel返回槽对像，赋值给 window.obj
document.addEventListener("DOMContentLoaded", function(){
    new QWebChannel(qt.webChannelTransport, function(channel){
          window.obj = channel.objects.obj;
    })
})
// html触发函数
function onFactorial(url){
    // 如果对像存在
    if( window.obj ){
        // 调用Python槽方法并传递参数，槽方法返回值以callback回调函数接收
        window.obj.factorial(url, callback);
    }
}
// html触发函数
function onFactorial9(url){
    // 如果对像存在
    if( window.obj ){
        // 调用Python槽方法并传递参数，槽方法返回值以callback回调函数接收
        window.obj.factorial9(url, callback);
    }
}
// Python槽方法返回的数据
function callback(result){}

var kb = '',table = '';
var windows = $(window).height();
var fuzuheight = $(".fuzuheight").height();
var elaMenu = $(".elaMenu").height();
var height = windows-(fuzuheight+elaMenu)-185;
layui.use('table', function(){
  table = layui.table;
  //第一个实例
  table.render({
    elem: '#test-table-operate'
    ,height: height
    ,url: url+'hwapi/alarm/expiredalarm?userId='+userId
    ,page: {
      layout: [ 'prev', 'page', 'next', 'skip','count'],
      limit:10
    }
    ,cols: [[ //表头
      {field: 'post_id', title: '产品ID', fixed: 'left', align:'center', width:120, style:'font-size:1.2rem'}
      ,{field: 'product_name', title: '产品名称', align:'center', style:'font-size:1.2rem'}
      ,{field: 'product_type', title: '产品型号', align:'center', width:150, style:'font-size:1.2rem'}
      ,{field: 'punit', title: '单位', align:'center', width:120, style:'font-size:1.2rem'}
      ,{field: 'product_stock', title: '当前库存', align:'center', width:150, style:'font-size:1.2rem'}
      ,{field: 'date_of_expired', title: '报警时间', align:'center', style:'font-size:1.2rem'}
      ,{field: 'dis_day', title: '过期天数', align:'center', style:'font-size:1.2rem'}
      ,{width:120, title: '二维码', align:'center', fixed: 'right', toolbar: '#test-table-operate-barDemo'}
    ]]
    ,done: function(res, curr, count){
    	    //得到当前页码
    	    page = curr;
    	    //得到数据总量
    	    //console.log(res);
          // 记录报警条数
          localStorage.setItem("alarm2", res.count==undefined?0:res.count);
    	}
  });
  //监听工具条
  table.on('tool(test-table-operate)', function(obj){
        var data = obj.data;
        if( obj.event === 'detail' ){
            layer.confirm('ID['+data.post_id+']，是否打印？', {
              title:'打印提示',
              btn: ['确定','取消'] //按钮
            }, function(){
              layer.msg('正在打印...', {icon:16,shade:0.01,time:2000}, function(){
                  $.post(url+'hwapi/stock/makeqrcode',{userId:userId,postId:data.post_id,productType:data.product_type},function(res){
                        var dataInfo = JSON.parse(res);
                        layer.msg('正在打印...', {icon: 16,shade: 0.01}, function(){
                              onFactorial(dataInfo.url);
                        });
                  });
              });
            }, function(){});
        }
  });
});
var $ = layui.$, active = {
      reload: function(){
        kb.kbhide();
        var demoReload = $('#test-table-demoReload');
        //执行重载
        table.reload('test-table-operate', {
          page: {
            curr: 1 //重新从第 1 页开始
          }
          ,where: {
            search:demoReload.val()
          }
        });
      }
};
$('.test-table-reload-btn .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
});

kb = new keyboard({
    el:"#test-table-demoReload",
    x:1.6,
    keyHeight:"5rem",
    fontSize:'1.8rem',
    bottom:"5rem",
    end:function(res,value){
        // console.log(res, value)
        if( res == 'OK' ){
            // layer.msg('完成提交');
        }else{
            // layer.msg('什么都不做');
        }
    }
});
kb.run();
</script>
</html>
