<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>借用</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../iview/node_modules/view-design/dist/styles/iview.css">
    <link rel="stylesheet" href="../layer/theme/default/layer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/csg.css">
    <link rel="stylesheet" href="../swiper/package/swiper-bundle.min.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../layer/layer.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../swiper/package/swiper-bundle.min.js"></script>
    <script src="../iview/node_modules/view-design/dist/iview.min.js"></script>
</head>
<body>
<div class="swiper-container" id="Vueapp">
          <div class="elaBoxs">
            <div class="fuzuheight" style="height:1rem;"></div>
            <div class="elaMenu">
              <div class="elaMenuInner">
                  <div class="elaMenuList" style="border-top:1px solid #dddddd;background:#dddddd;">
                      <div class="elaLogo" onclick="back();" style="background: #99ccff url(../img/logo2.png) no-repeat;background-size:98% 80%;background-position:center;"></div>
                  </div>
                  <div class="elaMenuList" style="border-top:1px solid #dddddd;">
                      <div class="elaLogo">借用</div>
                  </div>
                  <div class="elaMenuList" style="border-top:1px solid #dddddd;background:#dddddd;">
                      <!-- <div class="elaLogo" @click="warning();"> -->
                      <div class="elaLogo">
                            <div class="userInfoList" onclick="back()">
                                <div class="userInfoInner"><img class="loginimg" src="../img/bcak.png" alt="头像"></div>
                                <div class="userInfoInner">返回上一步</div>
                            </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="elaOption">
                <div class="csgBoxs">
                    <div class="csgInner">
                        <input type="text" class="inputBoxs" placeholder="允许扫描-产品二维码" id="listen" onfocus="listenfocus()" onblur="listenblur()"/>
                        <div class="layernoneouto"></div>
                        <input type="text" class="inputBoxs kbkeyClass" placeholder="手动输入模式" style="display:none;"/>
                        <div class="lampBoxs"></div>
                    </div>
                </div>
                <div class="csgImgs">
                    <img src="../img/scan2.0fe4467d.gif" alt="图标">
                </div>
            </div>
        </div>
</div>
</body>
<script src="../js/common.js"></script>
<script src="../js/CSG.js"></script>
<script type="text/javascript" src="../keyboard/kbmodule.js" id="keyboard"></script>
<script src="../js/qwebchannel.js"></script>
<script>
<!--  实现部分  -->
// 监听Python channel返回槽对像，赋值给 window.obj
document.addEventListener("DOMContentLoaded", function(){
    new QWebChannel(qt.webChannelTransport, function(channel){
          window.obj = channel.objects.obj;
    })
})
function onFactorial8(flag){
    // 如果对像存在
    if( window.obj ){
        // 调用Python槽方法并传递参数，槽方法返回值以callback回调函数接收
        window.obj.factorial8(flag, callback);
    }
}
// html触发函数
function onFactorial9(url){
    // 如果对像存在
    if( window.obj ){
        // 调用Python槽方法并传递参数，槽方法返回值以callback回调函数接收
        window.obj.factorial9(url, callback);
    }
}
// Python槽方法返回的数据
function callback(result){}
//
var kb='',kb2='',layerIndex='';
var indexcloseframe = '';
var csg = new CodeScanningGrab({
  el:"#listen",
  addClick:".layernoneouto",
  addClass:".inputBoxs",
  time:2000,
  success:function(res){
      var id = res;
      if (isNaN(res)) {
          var len = res.lastIndexOf("=");
          var id = parseInt(res.substring(len+1));
      }
      layerIndex = layer.msg('正在识别请稍候...', {
          icon: 16
          ,shade: 0.01
      });
      $.post(url+'apiequ/putin/product_msg_by_qrcode',{qrcodeId:id},function(res){
            // console.log(res);
            layer.close(layerIndex);
            if(res.code == 0 ){
                productInformation(res.data, id)
            }else{
                layer.msg('扫描失败，请重试！', {icon: 2});
            }
      });
  },
  endClick:function(res){
      if( res == 1 ){
          kb.kbhide();
      }
  }
});
//显示产品信息
function productInformation(obj, value){
    var portinfo = obj;
    var postIdnext = obj.postId;
    var html = '<div style="margin:0.5rem;">';
        html += '<div style="height:2.5rem;line-height:2.5rem;padding:0 1rem;font-size:1.2rem;font-weight:700;">';
        html += '借用当前物品';
        html += '</div>';
        html += '<div style="border:1px solid #ccc9c9;margin:0.5rem;display:flex;align-items:center;flex-wrap:nowrap;">';
        html += '<div style="width:20%">';
        html += '<div style="text-align:center;padding:0.5rem;font-size:1.2rem;">厂商</div>';
        html += '</div>';
        html += '<div style="border-left:1px solid #ccc9c9;width:80%">';
        html += '<div style="padding:0.5rem;font-size:1.2rem;">'+(obj.manufacturer==null?'获取失败':obj.manufacturer)+'</div>';
        html += '</div>';
        html += '</div>';
        html += '<div style="border:1px solid #ccc9c9;margin:0.5rem;display:flex;align-items:center;flex-wrap:nowrap;">';
        html += '<div style="width:20%">';
        html += '<div style="text-align:center;padding:0.5rem;font-size:1.2rem;">产品ID</div>';
        html += '</div>';
        html += '<div style="border-left:1px solid #ccc9c9;width:80%">';
        html += '<div style="padding:0.5rem;font-size:1.2rem;">'+(obj.postId==null?'无':obj.postId)+'</div>';
        html += '</div>';
        html += '</div>';
        html += '<div style="border:1px solid #ccc9c9;margin:0.5rem;display:flex;align-items:center;flex-wrap:nowrap;">';
        html += '<div style="width:20%">';
        html += '<div style="text-align:center;padding:0.5rem;font-size:1.2rem;">产品名称</div>';
        html += '</div>';
        html += '<div style="border-left:1px solid #ccc9c9;width:80%">';
        html += '<div style="padding:0.5rem;font-size:1.2rem;">'+(obj.productName==null?'无':obj.productName)+'</div>';
        html += '</div>';
        html += '</div>';
        html += '<div style="border:1px solid #ccc9c9;margin:0.5rem;display:flex;align-items:center;flex-wrap:nowrap;">';
        html += '<div style="width:20%">';
        html += '<div style="text-align:center;padding:0.5rem;font-size:1.2rem;">产品型号</div>';
        html += '</div>';
        html += '<div style="border-left:1px solid #ccc9c9;width:80%">';
        html += '<div style="padding:0.5rem;font-size:1.2rem;">'+(obj.productType==null?'无':obj.productType)+'</div>';
        html += '</div>';
        html += '</div>';
        html += '<div style="border:1px solid #ccc9c9;margin:0.5rem;display:flex;align-items:center;flex-wrap:nowrap;">';
        html += '<div style="width:20%">';
        html += '<div style="text-align:center;padding:0.5rem;font-size:1.2rem;">当前库存</div>';
        html += '</div>';
        html += '<div style="border-left:1px solid #ccc9c9;width:80%">';
        html += '<div style="padding:0.5rem;font-size:1.2rem;">'+(obj.stock==null?'无':obj.stock)+'</div>';
        html += '</div>';
        html += '</div>';
        html += '<div style="border:1px solid #ccc9c9;margin:0.5rem;display:flex;align-items:center;flex-wrap:nowrap;">';
        html += '<div style="width:20%">';
        html += '<div style="text-align:center;padding:0.5rem;font-size:1.2rem;">借用数量</div>';
        html += '</div>';
        html += '<div style="border-left:1px solid #ccc9c9;width:80%">';
        html += '<div style="padding:0.5rem;font-size:1.2rem;"><input type="text" nme="num" class="kbkeyClass2 kblistauto" placeholder="填写数量" style="padding:0.3rem;border:1px solid #dddddd;outline:none;"/><span style="margin-left:1rem;font-size:0.8rem;"></span></div>';
        html += '</div>';
        html += '</div>';
        // html += '<div style="border:1px solid #ccc9c9;margin:0.5rem;display:flex;align-items:center;flex-wrap:nowrap;">';
        // html += '<div style="width:20%">';
        // html += '<div style="text-align:center;padding:0.5rem;font-size:1.2rem;">借用人</div>';
        // html += '</div>';
        // html += '<div style="border-left:1px solid #ccc9c9;width:80%">';
        // html += '<div style="padding:0.5rem;font-size:1.2rem;"><input type="text" nme="name" class="kbkeyClass2 kblistauto" placeholder="填写姓名" style="padding:0.3rem;border:1px solid #dddddd;outline:none;"/><span style="margin-left:1rem;font-size:0.8rem;">填写真实姓名</span></div>';
        // html += '</div>';
        // html += '</div>';
        html += '<div style="border:1px solid #ccc9c9;margin:0.5rem;display:flex;align-items:center;flex-wrap:nowrap;">';
        html += '<div style="width:20%">';
        html += '<div style="text-align:center;padding:0.5rem;font-size:1.2rem;">备注</div>';
        html += '</div>';
        html += '<div style="border-left:1px solid #ccc9c9;width:80%">';
        html += '<div style="padding:0.5rem;font-size:1.2rem;"><input type="text" nme="prepare" class="kbkeyClass2 kblistauto" placeholder="填写用途" style="padding:0.3rem;border:1px solid #dddddd;outline:none;"/><span style="margin-left:1rem;font-size:0.8rem;">填写用途</span></div>';
        html += '</div>';
        html += '</div>';
        html += '<div style="height:3rem;line-height:3rem;font-size:1.2rem;color:#ff0000;padding:0 0.5rem;">';
        html += '<div id="htmlvalbox" style="text-align:center;float:left;"></div>';
        html += '<div id="htmlvalbox" onclick="closeframe();" style="border:1px solid #F0F0F0;margin-top:0.8rem;color:#999999;text-align:center;float:right;padding:0 1rem;background:#F0F0F0;border-radius: 0.3rem;">取消</div>';
        html += '</div>';
        html += '</div>';
        var flagvalue = value;
        layer.close(indexcloseframe);
        indexcloseframe = layer.open({
            type: 1,
            // title: '产品信息',
            title:false,
            offset:'10px',
            skin: 'layui-layer-rim', //加上边框
            area: ['850px', '560px'], //宽高
            content: html,
            end:function(){
                kb2.kbhide();
                csg.initFocus();
            }
        });
        kb2 = new keyboard({
            el:".kbkeyClass2",
            x:1.6,
            keyHeight:"5rem",
            fontSize:'1.8rem',
            bottom:"2rem",
            end:function(res,value){
                if( res == 'OK' ){
                    var value = $('[nme="num"]').val();
                    var name = $('[nme="name"]').val();
                    var use = $('[nme="prepare"]').val();
                    if ( isNaN(value) ) {
                        layer.msg('请输入数字！',{offset:'345px'});
                        return false;
                    }
                    if( value == '' ){
                        layer.msg('请输入借用数量！',{offset:'345px'});
                        return false;
                    }
                    // if( name == '' ){
                    //     layer.msg('请输入借用人姓名',{offset:'345px'});
                    //     return false;
                    // }
                    var html = '<div style="margin:0.5rem;">';
                        html += '<div style="height:2.5rem;line-height:2.5rem;padding:0 1rem;font-size:1.2rem;font-weight:700;margin-bottom:1rem;">';
                        html += '借用物品，需要扫描身份二维码';
                        html += '</div>';
                        html += '<div class="layui-container" style="width:100%;border-top:1px solid #999999;padding:1rem 0;">';
                        html += '<div class="layui-row" style="margin-bottom:1rem;padding:0 1rem;">';
                        html += '<div class="layuikuang" style="border:2px solid #6fb729;height:5rem;border-radius:0.5rem;overflow:hidden;position:relative;">';
                        html += '<input type="text" id="listen2" placeholder="允许扫描" style="height:5rem;width:100%;text-align:center;font-size:1.2rem;border:none;background:#F0F0F0;color:#666666;"/>';
                        html += '</div>';
                        html += '</div>';
                        html += '<div style="font-size:1.1rem;color:#b5b0b0;padding:0 1rem;">温馨提示：显示绿色边框时允许扫描，显示红色边框时禁止扫描。</div>';
                        html += '</div>';
                        html += '<div id="userNameBoxs1" style="padding:1rem;color:#213fd0;font-size:1.2rem;display:none;">扫描成功－〉操作人：<span id="userName"></span></div>';
                        html += '<div id="userNameBoxs2" style="padding:1rem;color:red;font-size:1.2rem;display:none;"></div>';
                        html += '</div>';
                     var indexnexts = layer.open({
                        type: 1,
                        title:false,
                        skin: 'layui-layer-rim', //加上边框
                        area: ['620px', '300px'], //宽高
                        content: html
                     });
                     $("#listen2").focus(function(){
                          $(".layuikuang").css({"border":"2px solid #6fb729"});
                          $(this).attr({"placeholder":"允许扫描"});
                     }).blur(function(){
                          $(".layuikuang").css({"border":"2px solid red"});
                          $(this).attr({"placeholder":"禁止扫描"});
                     });
                     var cs2 = new CodeScanningGrab({
                       el:"#listen2",
                       addClick:".layernoneouto",
                       addClass:".inputBoxs",
                       time:2000,
                       success:function(res){
                          var id = res;
                          //验证管理员身份
                          $.ajax({
                              url:url+"apiequ/basic/name_bind_qrcode",
                              data:{userId:userId,id:id},
                              success:function(info){
                                  var obj = JSON.parse(info);
                                  if(obj.code == 0 ){
                                      $("#userNameBoxs2").hide();
                                      $("#userNameBoxs1").show();
                                      $("#userName").html(obj.data.name);
                                      var timestamp = new Date().getTime();
                                      var filename = timestamp/1000;
                                      if( obj.data.status=="ok" ){
                                          $.post(url+'apiequ/outof/borrow',{borrowId:0,qrcodeId:flagvalue,num:value,use:use,name:obj.data.name,filename:filename},function(info){
                                                if( info.code == 0 ){
                                                    $(".kblistauto").attr({"disabled":true});
                                                    var w_text = "产品ID:"+postIdnext+"-产品名称:"+(portinfo.productName==''?'未填写':portinfo.productName)+"-借用数量:"+value+"-借用人:"+obj.data.name;
                                                    var flagstr = JSON.stringify({"flag":"start","text":w_text,"filename":filename,"needle":100});
                                                    onFactorial8(flagstr)
                                                    layer.msg(info.msg,{shift:-1,time:2000,offset:'230px'},function(){
                                                          $("#htmlvalbox").html("当前产品ID["+postIdnext+"]操作借用成功, 借用数量:"+value+" ,本次借用完成,请关闭窗口！");

                                                    });
                                                    layer.close(indexnexts);
                                                }else{
                                                    layer.msg(info.msg);
                                                }
                                          });
                                      }else{
                                          $("#userNameBoxs1").hide();
                                          $("#userNameBoxs2").show();
                                          $("#userNameBoxs2").html("该用户已经被禁用");
                                      }
                                  }else{
                                      $("#userNameBoxs1").hide();
                                      $("#userNameBoxs2").show();
                                      $("#userNameBoxs2").html('非管理员授权二维码，无法登录');
                                  }
                              },
                              error:function(err){
                                  $("#userNameBoxs2").show();
                                  $("#userNameBoxs2").html("非管理员授权二维码，无法登录");
                              }
                          });
                       },
                       endClick:function(res){
                           console.log(res)
                       }
                     });
                     setTimeout(function(){
                        $("#listen2").focus();
                     },1000);
                }else{
                    // layer.msg('什么都不做');
                }
            }
        });
        kb2.run();
}

(function(){
    kb = new keyboard({
        el:".kbkeyClass",
        x:1.6,
        keyHeight:"5rem",
        fontSize:'1.8rem',
        bottom:"5rem",
        end:function(res,value){
            if( res == 'OK' ){
              $.post(url+'apiequ/putin/product_msg_by_qrcode',{qrcodeId:parseInt(value)},function(res){
                    layer.close(layerIndex);
                    if(res.code == 0 ){
                        productInformation(res.data, parseInt(value))
                    }else{
                        layer.msg('扫描失败，请重试！', {icon: 2});
                    }
              });
            }else{
                // layer.msg('什么都不做');
            }
        }
    });
    kb.run();
})()
function closeframe(){
    csg.initFocus();
    kb2.kbhide();
    layer.close(indexcloseframe);
}
function listenfocus(){
    $(".lampBoxs").css({"background":"#00b500"});
    $("#listen").attr({"placeholder":"允许扫描-产品二维码"});
    // layer.tips('绿灯亮起时可以扫描','.lampBoxs', {
    //     tips: 5,
    //     time:10000
    // });
}
function listenblur(){
    $(".lampBoxs").css({"background":"#FF0000"});
    $("#listen").attr({"placeholder":"禁止扫描"});
    // layer.tips('红灯亮起时禁止扫描','.lampBoxs', {
    //     tips: 5,
    //     time:10000
    // });
}
</script>
</html>
